<!--<div class="row nomarginLeftRigth">-->
        <div ng-repeat="comp in competitions"   >
            <div class="col-md-3 " style="height: 180px" ng-click="selectCompetition(comp)">
                <div >
                   <!-- <label> {{comp.caption}}</label>-->
                    <div class="padding20 pointerCursor">
                        <img src="../assets/img/{{comp.id}}.jpg" width="80%">

                    </div>
                </div>
                <!--<div class="padding20">
                    <img src="../assets/img/{{comp.id}}.jpg" width="80%" height="50%">

                </div>-->
            </div>
        </div>
<!--
</div>-->
